#pokemons-of-the-day {
  background-color: #42413b;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
}